<h1>BIDA 6007 Analytical Methods for Text & Web Mining - Programming Assignment 1 - NumPy and Pandas</h1>

<h2>1. Introduction to pandas Data Structures</h2><a class = "anchor" id = "1"></a>

__[pandas](https://pandas.pydata.org/)__ contains high-level data structures and manipulation tools designed to make data analysis fast and easy in Python. **pandas** is built on top of __[NumPy](https://numpy.org)__ which makes it easy to use in NumPy-centric applications. To get started with pandas, we need to become comfortable with its two data structures: *Series* and *DataFrame*. Whilst not a universal solution for every problem, they provide a solid, easy-to-use basis for most applications.

### Author: Andy Orie
## University Course: BIDA6007 Analytical Methods for Text and Web Mining
## Date: Semester 3, 2019/ 2020

<h3>1.1 Instructions</h3><a class = "anchor" id = ".1"></a>

1. **Note:** In the first code block, the required imports for this assignment have been set up. Do not alter or amend.
2. **Note:** All imports and notebook setup must be included in the first code block.
3. **Note:** Do not amend or otherwise tamper with Markdown and / or Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code in Code Block Cells Only.
4. **Note:** In all code cells write all code in between lines indicated as: `begin code here` and `end code here` only.
5. **Date Available:** Thursday June 11, 2020, 7:00 PM.
6. **Due Date:** Thursday June 25, 2020, 11:59 PM.
7. **Total Mark:** 100 marks (weighted 10% out of 100%).

In [1]:
# common imports

from pandas import Series, DataFrame
import numpy as np
import pandas as pd

# common setup

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 10)
pd.set_option('display.width', 1000)
pd.set_option('precision', 2)

<h3>1.2 Question 1A (4 Marks)</h3><a class = "anchor" id = "1.2"></a>

A Series is a one-dimensional array-like object containing an array of data (of any NumPy data type) and an associated array of data labels, referred to as its *index*. The simplest Series is formed from only an array of data.

1. Using only a single line of code - Create a pandas Series object from a one-dimensional array containing the values 1 through 5 (including 5). Assign the newly created pandas Series object to a variable named `oneda`.

2. Using only a single line of code - Examine the elements contained in the pandas Series object.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [2]:
# create a pandas Series object from a one-dimensional array containing the values 1 through 5 (including 5)

oneda =pd.Series([1,2,3,4,5])

# examine the elements contained in the variable oneda
print(oneda)

0    1
1    2
2    3
3    4
4    5
dtype: int64

<h3>1.3 Question 1B (10 Marks)</h3><a class = "anchor" id = "1.3"></a>

The code block above produces a pandas Series, displaying the index on the left and the values on the right. Given that we neglected to specify an index for the data, a default index consisting of the integers 0 through N - 1 (where N is the length of the data) was created.

We can obtain the array representation and index object of the Series via its values and index attributes, respectively.

1. Using only a single line of code - Examine the array representation of the pandas Series object `oneda`.
2. Using only a single line of code - Examine the index of the pandas Series object `oneda`.
3. Using only a single line of code - Create an index variable called `index` to store the elements of an index containing the values A - E (including E).
4. Using only a single line of code - Modify the newly created pandas Series object `oneda` by replacing its index values with the newly created index values A - E.
5. Using only a single line of code - Examine the modified data contained in the pandas Series object `oneda`.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [3]:
# examine the array representation of the pandas Series object oneda
print(oneda)

print("----------New Line----------")

# examine the elements contained within the pandas Series object oneda's index
oneda.index

0    1
1    2
2    3
3    4
4    5
dtype: int64
----------New Line----------

RangeIndex(start=0, stop=5, step=1)

In [4]:
# using only a single line of code:
    # modify the newly created pandas Series object oneda by creating an index identifying each data point with the index values A - E (including E)
    # store the index in a variable called index

index = (['A','B','C','D','E'])

# using only a single line of code - assign the variable index to the pandas Series object oneda
oneda.index = index

# using only a single line of code - examine the data contained in the modified pandas Series object oneda
print(oneda)

A    1
B    2
C    3
D    4
E    5
dtype: int64

<h3>2.1 Question 2A (10 Marks)</h3><a class = "anchor" id = "2.1"></a>

1. Using only a single line of code - Create a new pandas Series object containing the values **6 - 10** (including 10). Store the newly created Series object in a variable called `oneda_two`. In creating the Series object, create an index with the values **F - J** (including J) and assign the index to the Series object `oneda_two`.
2. Using only a single line of code - Examine the newly created pandas Series object `oneda_two`.
3. Using a single line of code - Examine the elements contained within the Series object `oneda_two`'s index.
4. Using only a single line of code and the pandas Series object variables `oneda` and `oneda_two`, create a two-dimensional ndarray variable called `twoda`.
5. Using only a single line of code - Examine the ndarray variable `twoda`. 

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [5]:
# using only a single line of code:
    # create a pandas Series object with the values 6 through 10 (inclusive) called oneda_two.
    # create an index identifying each data point with values ranging from F - J (inclusive).
    # assign the index to the Series object oneda_two.

oneda_two = pd.Series([6,7,8,9,10], index = ['F','G','H','I','J'])

# using only a single line of code - examine the pandas Series object oneda_two
print(oneda_two)

F     6
G     7
H     8
I     9
J    10
dtype: int64

In [6]:
# using only a single line of code - examine the elements contained within the Series object oneda_two's index.

oneda_two.index

Index(['F', 'G', 'H', 'I', 'J'], dtype='object')

In [7]:
# using only a single line of code:
    # create a two-dimensional array variable called twoda using the variables oneda and oneda_two

twoda = pd.DataFrame(np.array([oneda,oneda_two]))

# using only a single line of code - examine the ndarray twoda
print(twoda)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

<h3>2.2 Question 2B (12 Marks)</h3><a class = "anchor" id = "2.2"></a>

1. Using slicing and a single line of code - extract the elements of the ndarray `twoda` from rows 1 and 2 and columns 2 and 4 only. Store the extracted elements in a variable called `twoda_sample`.
2. Using only a single line of code - Examine the newly created variable `twoda_sample`.
3. Using no more than a single line of code, select the values of the elements contained in the pandas Series variable `oneda` with the index values **B, C and E only**. Store the extracted values in variable called `oneda_sample`.
4. Using only a single line of code - Examine the variable `oneda_sample`.
4. Using no more than a single line of code, select and extract the values of the elements contained in the pandas Series variable `oneda_two` with the index values **F through I**. Store the extracted elements in a variable called `oneda_two_sample`.
5. Using no more than a single line of code - Examine the variable `oneda_two_sample`.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [8]:
# using only a single linde of code - extract the elements of the ndarray twoda contained in rows 1 and 2 and columns 2 and 4 only
# assign the extracted values to a variable called twoda_sample
twoda_sample = twoda.iloc[0:2, [2, 4]]

# using only a single line of code examine the elements contained in the varaible twoda_sample
print(twoda_sample)

   2   4
0  3   5
1  8  10

In [9]:
# using only a single line of code:
    # select and extract the elements contained in the pandas Series object variable oneda with index values B, C, and E only.
    # store the extracted values in a newly created variable called oneda_sample

oneda_sample = oneda.loc[['B','C','E']]

# using only a single line of code - examine the elements contained in the variable oneda_sample
print(oneda_sample)

B    2
C    3
E    5
dtype: int64

In [10]:
# using only a single line of code:
    # select and extract the values of the elements contained in the pandas Series variable oneda_two with index values F through I.
    # store the extracted values in a variable called oneda_two_sample
oneda_two_sample = oneda_two.loc[['F','G','H','I']]

# using only a single line of code - examine the variable oneda_sample
print(oneda_two_sample)

F    6
G    7
H    8
I    9
dtype: int64

<h2>3.1 Question 3A (20 Marks)</h2><a class = "anchor" id = "3.1"></a>
Another way to think about a Series is as a fixed-length, ordered Python dictionary, as it represents a mapping of index values to data values which can be substituted into many functions that expect a Python dictionary.

1. Create a Python dictionary using the __[Template: Largest Cities of Trinidad and Tobago](https://en.wikipedia.org/wiki/Template:Largest_cities_of_Trinidad_and_Tobago)__ containing the Rank, Name, Municipality, and Population data for the largest cities in Trinidad and Tobago. Store the Trinidad and Tobago Largest Cities and Towns data in a variable called `data`.
2. Using only a single line of code - Examine the data contained in the dictionary variable `data`.
3. Represent the data contained in the Trinidad and Tobago Largest Cities and Towns `data` dictionary at **Question 3A1** as a pandas DataFrame called `ttdem_data`.
4. Using only a single line of code - change the index to be consistent with the `Rank`.
5. Using only a single line of code - modify the name of the index to be called `City Number`.
6. Using only a single line of code - Examine the `ttdem_data`.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [11]:
# create a data dictionary of largest cities and towns in Trinidad and Tobago using the template: largest cities of Trinidad and Tobago
# the data dictionary should contain the following keys: Rank, Name, Municipality, and Pop
# store the dictionary in a variable named data
# do not use any automated method for extracting data from the web or other web mining library or methodology
# the dictionary must be constructed manually
# preserve the order of the data as represented on the source table

data = {'Rank':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
       'Name':['Chaguanas','San Fernando','Port of Spain','Arima','Couva','Point Fortin','Princess Town','Diego Martin',
              'Sangre Grande','Morvant','Scarborough','Tunapuna','Gasparillo','San Juan','Siparia','Claxton Bay','Penal',
              'Fyzabad','Valencia','Freeport'],
       'Municipality':['Borough of Chaguanas','City of San Fernando','City of Port of Spain','The Royal Chartered Borough of Arima',
                      'Couva–Tabaquite–Talparo','Republic Borough of Point Fortin','Princes Town Regional','Diego Martin region',
                      'Sangre Grande Regional','San Juan–Laventille','Tobago','Tunapuna–Piarco','Couva–Tabaquite–Talparo',
                       'San Juan–Laventille','Siparia Regional','Couva–Tabaquite–Talparo','Penal–Debe','Siparia Regional',
                       'Sangre Grande Regional','Couva–Tabaquite–Talparo'],
       'Population':[101297,82997,81142,65623,48858,29579,28335,25370,20630,17591,17537,16626,16426,15752,14535,
                     14436,13860,13099,12327,11850]}

# examine the Trinidad and Tobago city and town demographic data
print(data)

{'Rank': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'Name': ['Chaguanas', 'San Fernando', 'Port of Spain', 'Arima', 'Couva', 'Point Fortin', 'Princess Town', 'Diego Martin', 'Sangre Grande', 'Morvant', 'Scarborough', 'Tunapuna', 'Gasparillo', 'San Juan', 'Siparia', 'Claxton Bay', 'Penal', 'Fyzabad', 'Valencia', 'Freeport'], 'Municipality': ['Borough of Chaguanas', 'City of San Fernando', 'City of Port of Spain', 'The Royal Chartered Borough of Arima', 'Couva–Tabaquite–Talparo', 'Republic Borough of Point Fortin', 'Princes Town Regional', 'Diego Martin region', 'Sangre Grande Regional', 'San Juan–Laventille', 'Tobago', 'Tunapuna–Piarco', 'Couva–Tabaquite–Talparo', 'San Juan–Laventille', 'Siparia Regional', 'Couva–Tabaquite–Talparo', 'Penal–Debe', 'Siparia Regional', 'Sangre Grande Regional', 'Couva–Tabaquite–Talparo'], 'Population': [101297, 82997, 81142, 65623, 48858, 29579, 28335, 25370, 20630, 17591, 17537, 16626, 16426, 15752, 14535, 14436, 13860, 13099, 12327, 11850]}

In [12]:
# using a single line of code and the data dictionary - represent the data contained in the Trinidad and Tobago Largest Cities and Towns data dictionary at Question 3A1:
    # as a pandas DataFrame with variable name ttdem_data

ttdem_data = pd.DataFrame(data)

# using only a single line of code - change the index of the ttdem_data DataFrame to be consistent with the Rank 
ttdem_data = pd.DataFrame(data, index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

# using only a single line of code - modify the name of the index to be called City Number
ttdem_data.index.name = 'City Number'

# using only a single line of code - examine the ttdem_data DataFrame
print(ttdem_data)

             Rank           Name                          Municipality  Population
City Number
1               1      Chaguanas                  Borough of Chaguanas      101297
2               2   San Fernando                  City of San Fernando       82997
3               3  Port of Spain                 City of Port of Spain       81142
4               4          Arima  The Royal Chartered Borough of Arima       65623
5               5          Couva               Couva–Tabaquite–Talparo       48858
6               6   Point Fortin      Republic Borough of Point Fortin       29579
7               7  Princess Town                 Princes Town Regional       28335
8               8   Diego Martin                   Diego Martin region       25370
9               9  Sangre Grande                Sangre Grande Regional       20630
10             10        Morvant                   San Juan–Laventille       17591
11             11    Scarborough                                Tobago       17537
12             12       Tunapuna                       Tunapuna–Piarco       16626
13             13     Gasparillo               Couva–Tabaquite–Talparo       16426
14             14       San Juan                   San Juan–Laventille       15752
15             15        Siparia                      Siparia Regional       14535
16             16    Claxton Bay               Couva–Tabaquite–Talparo       14436
17             17          Penal                            Penal–Debe       13860
18             18        Fyzabad                      Siparia Regional       13099
19             19       Valencia                Sangre Grande Regional       12327
20             20       Freeport               Couva–Tabaquite–Talparo       11850

<h2>3.2 Question 3B pandas DataFrame (20 Marks)</h2><a class = "anchor" id = "3.2"></a>

1. In a single line of code - Create a column called `GDP TT Millions`, in which store the value 161202 and insert the newly created column into the DataFrame immediately following the `Pop` feature.

2. Compute the proportion of the total population represented by each city and town and store the value in a column called `Population Proportion`.

3. Compute the relative proportion of total GDP contributed by each city or town and store the values in a column called `GDP Contribution Proxy`.

4. Save the `ttdem_data` pandas DataFrame as an Excel .xlsx file named `ttdemdata.xlsx` for further analysis.

5. Examine the modified `ttdem_data` DataFrame.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [13]:
# using only a single line of code for each computation and column insertion:

# create a column called GDP TT Millions, in which store the value 161202 and insert the newly created column immediately following the Pop feature
ttdem_data['GDP TT Millions']= np.array(161202)

# compute the proportion of the total population represented by each city and town and store the values in a column called Population Proportion
ttdem_data['Population Proportion']=ttdem_data['Population']/ttdem_data['Population'].sum()

# compute the relative proportion of total GDP contributed by each city or town and store the values in a column called GDP Contribution Proxy
ttdem_data['GDP Contribution Proxy']=ttdem_data['GDP TT Millions']*ttdem_data['Population Proportion']

# save the ttdem_data DataFrame as an Excel .xlsx File named ttdemdata.xlsx for further analysis
ttdem_data.to_excel('ttdemdata.xlsx')

# examine the modified ttdem_data DataFrame
ttdem_data.head()

             Rank           Name                          Municipality  Population  GDP TT Millions  Population Proportion  GDP Contribution Proxy
City Number
1               1      Chaguanas                  Borough of Chaguanas      101297           161202                   0.16                25204.56
2               2   San Fernando                  City of San Fernando       82997           161202                   0.13                20651.18
3               3  Port of Spain                 City of Port of Spain       81142           161202                   0.13                20189.63
4               4          Arima  The Royal Chartered Borough of Arima       65623           161202                   0.10                16328.21
5               5          Couva               Couva–Tabaquite–Talparo       48858           161202                   0.08                12156.77

<h3>4.1 Question 4A Descriptive Statistics (4 Marks)</h3><a class = "anchor" id = "4.1"></a>

1. Using a single line of code - Compute summary statistics for the features `Pop`, `GDP TT Millions`, `Population Proportion`, and `GDP Contribution Proxy`. Store the results in a variable called `summary_stats`.

2. Using only a single line of code - Examine the computed Trinidad and Tobago summary statistics.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [14]:
# using only a single line of code:
    # compute summary statistics for the features Pop, GDP TT Millions, Population Proportion, and GDP Contribution Proxy.
    # store the results of the computation in a variable called summary_stats.
summary_stats = ttdem_data.describe()

# using only a single line of code - examine the computed summary statistics
print(summary_stats)

        Rank  Population  GDP TT Millions  Population Proportion  GDP Contribution Proxy
count  20.00       20.00             20.0                  20.00                   20.00
mean   10.50    32393.50         161202.0                   0.05                 8060.10
std     5.92    27790.96              0.0                   0.04                 6914.90
min     1.00    11850.00         161202.0                   0.02                 2948.50
25%     5.75    14510.25         161202.0                   0.02                 3610.42
50%    10.50    17564.00         161202.0                   0.03                 4370.25
75%    15.25    34398.75         161202.0                   0.05                 8559.04
max    20.00   101297.00         161202.0                   0.16                25204.56

<h3>4.2 Question 4B Descriptive Statistics (6 Marks)</h3><a class = "anchor" id = "4.2"></a>

1. Using only a single line of code - Compute the total population of the top 20 largest cities and towns in Trinidad and Tobago. Store the result in a variable called `totalpop`.

2. Using only a single line of code - Compute the mean of the population of the top 20 largest cities and towns in Trinidad and Tobago. Store you result in a variable called `avgpop`.

3. Examine the results from the variables `totalpop` and `avgpop`.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [15]:
# using a single line of code:
    # compute the total population of the top 20 largest cities and towns in Trinidad and Tobago.
    # store the result in a variable called `totalpop`

totalpop = ttdem_data['Population'].sum()

# using only a single line of code - examine the total population for the top 20 largest cities and towns in Trinidad and Tobago
print("The Total Population of Trinidad and Tobago's Top 20 Largest Cities and Towns was estimated to be {}.".format(totalpop))

print("----------New Line----------")

# using only a single line of code - compute the mean of the population of the top 20 largest cities and towns in Trinidad and Tobago.
# store the result in a variable called `avgpop`.
avgpop= ttdem_data.loc[ : , ['Population']].mean()

# using only a single line of code examine the average population of the largest cities and towns in Trinidad and Tobago
print("Trinidad and Tobago has an average Top 20 Largest Cities and Towns population of {}.".format(avgpop))

The Total Population of Trinidad and Tobago's Top 20 Largest Cities and Towns was estimated to be 647870.
----------New Line----------
Trinidad and Tobago has an average Top 20 Largest Cities and Towns population of Population    32393.5
dtype: float64.

<h3>5.1 Question 5A Extracting Data from DataFrames (6 Marks)</h3><a class = "anchor" id = "5.1"></a>

1. Using only a single line of code - Extract the data containing or representing the ten most populous cities and towns in Trinidad and Tobago based on the `ttdem_data` dataset. Store the results as a new DataFrame called `tttop`.

2. Using only a single line of code - Extract the data containing or representing the 10 least populous cities and towns in Trinidad and Tobago based on the dataset. Store the results as a new DataFrame called `ttbottom`.

3. Using only a single linde of code - Examine the results of the DataFrame `tttop`.

4. Using only a single line of code - Examine the results of the DataFrame `ttbottom`.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [16]:
# using only a single line of code:
    # extract the data containing or representing the ten most populous cities and towns in Trinidad and Tobago based on the ttdem_data dataset.
    # store the results as a new DataFrame called `tttop`.

tttop = ttdem_data.head(10)

# using no more than a single line of code:
    # extract the data containing or representing the 10 least populous cities and towns in Trinidad and Tobago based on the ttdem_data dataset.
    # store the results as a new DataFrame called `ttbottom`.
ttbottom = ttdem_data.tail(10)

# using a single line of code - examine the results of the DataFrame `tttop`.
print(tttop)

print("----------New Line----------")

# using a single line of code - examine the results of the DataFrame `ttbottom`.
print(ttbottom)

             Rank           Name                          Municipality  Population  GDP TT Millions  Population Proportion  GDP Contribution Proxy
City Number
1               1      Chaguanas                  Borough of Chaguanas      101297           161202                   0.16                25204.56
2               2   San Fernando                  City of San Fernando       82997           161202                   0.13                20651.18
3               3  Port of Spain                 City of Port of Spain       81142           161202                   0.13                20189.63
4               4          Arima  The Royal Chartered Borough of Arima       65623           161202                   0.10                16328.21
5               5          Couva               Couva–Tabaquite–Talparo       48858           161202                   0.08                12156.77
6               6   Point Fortin      Republic Borough of Point Fortin       29579           161202                   0.05                 7359.80
7               7  Princess Town                 Princes Town Regional       28335           161202                   0.04                 7050.27
8               8   Diego Martin                   Diego Martin region       25370           161202                   0.04                 6312.52
9               9  Sangre Grande                Sangre Grande Regional       20630           161202                   0.03                 5133.12
10             10        Morvant                   San Juan–Laventille       17591           161202                   0.03                 4376.97
----------New Line----------
             Rank         Name             Municipality  Population  GDP TT Millions  Population Proportion  GDP Contribution Proxy
City Number
11             11  Scarborough                   Tobago       17537           161202                   0.03                 4363.53
12             12     Tunapuna          Tunapuna–Piarco       16626           161202                   0.03                 4136.86
13             13   Gasparillo  Couva–Tabaquite–Talparo       16426           161202                   0.03                 4087.09
14             14     San Juan      San Juan–Laventille       15752           161202                   0.02                 3919.39
15             15      Siparia         Siparia Regional       14535           161202                   0.02                 3616.58
16             16  Claxton Bay  Couva–Tabaquite–Talparo       14436           161202                   0.02                 3591.94
17             17        Penal               Penal–Debe       13860           161202                   0.02                 3448.62
18             18      Fyzabad         Siparia Regional       13099           161202                   0.02                 3259.27
19             19     Valencia   Sangre Grande Regional       12327           161202                   0.02                 3067.18
20             20     Freeport  Couva–Tabaquite–Talparo       11850           161202                   0.02                 2948.50

<h3>5.2 Question 5B Extracting Data from DataFrames (8 Marks)</h3><a class = "anchor" id = "5.2"></a>

1. Extract the following data from the `ttdem_data` dataset: Features: `Rank`, `Name`, `Municipality`, `Pop`, `Population Proportion`, and `GDP Contribution Proxy` for cities and towns in Trinidad and Tobago containing a population greater than 20,000 persons. Store the results in a DataFrame called `toppop`.

2. Save the results of the analysis to an Excel .xlsx file named `toppop.xlsx` for further analysis.

3. Extract the following data from the dataset: Features: `Rank`, `Name`, `Municipality`, `Pop`, `Population Proportion`, and `GDP Contribution Proxy` for cities and towns in Trinidad and Tobago containing a population proportion greater than or equal to 0.05 percent of the total population. Store the results in a DataFrame called `toppoppr`.

4. Save the results of the analysis to an Excel .xlsx file named `toppoppr.xlsx` for further analysis.

5. Examine the results of the variables `toppop` and `toppoppr`.

**Note: Do not amend or otherwise modify Markdown and Code Blocks containing Questions and related instructions in any way. Exception: Inserting Answer Code.**

In [17]:
# using no more than a single line of code - extract the following data from the dataset:
    # Features: `Rank`, `Name`, `Municipality`, `Pop`, `Population Proportion`, and `GDP Contribution Proxy`, for cities and towns in Trinidad and Tobago containing a population greater than 20,000 persons.
# store the results in a DataFrame called `toppop`.

toppop = ttdem_data[['Rank','Name','Municipality','Population','Population Proportion','GDP Contribution Proxy']][ttdem_data['Population']>20000]

# save the results of the analysis to an .xlsx file named toppop.xlsx for further analysis
toppop.to_excel('toppop.xlsx', index = False)

# examine the toppop dataset
print(toppop)

             Rank           Name                          Municipality  Population  Population Proportion  GDP Contribution Proxy
City Number
1               1      Chaguanas                  Borough of Chaguanas      101297                   0.16                25204.56
2               2   San Fernando                  City of San Fernando       82997                   0.13                20651.18
3               3  Port of Spain                 City of Port of Spain       81142                   0.13                20189.63
4               4          Arima  The Royal Chartered Borough of Arima       65623                   0.10                16328.21
5               5          Couva               Couva–Tabaquite–Talparo       48858                   0.08                12156.77
6               6   Point Fortin      Republic Borough of Point Fortin       29579                   0.05                 7359.80
7               7  Princess Town                 Princes Town Regional       28335                   0.04                 7050.27
8               8   Diego Martin                   Diego Martin region       25370                   0.04                 6312.52
9               9  Sangre Grande                Sangre Grande Regional       20630                   0.03                 5133.12

In [18]:
# using no more than a single line of code - extract the following data from the dataset:
    # Features: `Rank`, `Name`, `Municipality`, `Pop`, `Population Proportion`, and `GDP Contribution Proxy`, for cities and towns containing:
        # a population proportion equal to or greater than 5 percent of the total population.
    # store the results in a DataFrame called toppoppr`.

toppoppr = ttdem_data[['Rank','Name','Municipality','Population','Population Proportion','GDP Contribution Proxy']][ttdem_data['Population Proportion']>=0.05]

# save the results of the analysis as an .xlsx file named toppoppr.xlsx for further analysis
toppoppr.to_excel('toppoppr.xlsx', index =False)

# examine the toppoppr dataset
print(toppoppr)

             Rank           Name                          Municipality  Population  Population Proportion  GDP Contribution Proxy
City Number
1               1      Chaguanas                  Borough of Chaguanas      101297                   0.16                25204.56
2               2   San Fernando                  City of San Fernando       82997                   0.13                20651.18
3               3  Port of Spain                 City of Port of Spain       81142                   0.13                20189.63
4               4          Arima  The Royal Chartered Borough of Arima       65623                   0.10                16328.21
5               5          Couva               Couva–Tabaquite–Talparo       48858                   0.08                12156.77

<h2>6. Submission</h2><a class = "anchor" id = "6"></a>

1. Save the results of Questions 3B and 5B as `.xlsx` files. Upload all saved Excel files together with your completed IPython Notebook to the eLearning assignment tab.
2. At the top of **all** submitted files, you should include the following information:
    - Full Name
    - Student ID Number
    - Official Student Email
    - Course Code & Title
    - Trimester & Year
3. Submit your assignment files including all `.xlsx` and `.ipynb` files to the eLearning assignment folder.
4. All files submitted for this assignment should be titled `your_student_number_filename.ipynb` and `your_student_number_filename.xlsx` for example.
5. Late submission penalty of 10% per day for up to five days applies for all submissions received from the expiration of the submission date of **Thursday June 25, 2020, 11:59 PM**.

<h2>7. End of BIDA 6007 Analytical Methods for Text & Web Mining - Programming Assignment 1</h2><a class = "anchor" id = "7"></a>